<center>
<p class="main_name"> <%= link_to image_tag('main_name.png') %> </p>
<h1>Регистрация/Вход</h1>

</centr>


<%= form_for @player do |form| %>
  <p>

    <%= form.text_field :name, placeholder: 'Введите имя', class: "reg" %>
  </p>
  <p>
    <%= form.submit class: "btn btn-success" %>
  </p>
<% end %>
